:root {
    --primary-color: white; /*white*/
    --secondary-color: #F8A036; /*orange peel*/
    --accent-1: #33A097; /*persian green*/
    --accent-2: rgb(53, 53, 49); /*black olive*/
    --heading-font: "Bebas Neue", sans-serif;
    --body-font: "Open sans", sans-serif;
    

}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{

    font-family: var(--body-font);
    color: var(--accent-2);
    overflow-x: hidden;
    max-width: 100%;
    
    
}

header{

    display: flex;
    flex-wrap: nowrap;
   
    background: linear-gradient(to bottom, rgb(248, 160, 54, 0.6), transparent);
    border-bottom: 1px solid #ccc; 


    align-items: center; 
    font-size: larger;
    

}

header nav{

    
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    width: 50%;
    font-family: var(--heading-font);
    font-size: larger;
    color: white;
    
    
}


header nav a:visited {
  color:rgb(52, 52, 52); 
  text-decoration: dashed;
}

header nav a{
    text-decoration: none;
}

header nav a:hover {
  color: rgb(221, 134, 3);
}

header img{
    display: block;
    margin: auto;
    width: 125px;
    margin-left: 15px;
}


header, main, footer {

    max-width: 100%;
    
}

h1, h2 {

    font-family:"Rock Salt", cursive;
    color: var(--accent-2);
    text-align: center;
    font-size: 28px;
}



section h2 {
    text-align: center;
    max-width: 100%;

}
section p {
    text-align: center;
    max-width: 100%;
}


section img {

    max-width: 100%;
    height: auto;
    display: block;
    padding: 15px;
    margin: auto;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    text-align: center;
    
}

.history h2{
    grid-column: 1/4;
}


.history img {
    width: 500px;
}

.adventure {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventure img {

    width: 400px;
    height: 200px;
    object-fit: cover;

}

.adventure h2 {
    grid-column: 1/6;
}

figcaption {

    margin: 15px;
    background-color: rgb(248, 160, 54, 0.6);
    color: black;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    font-family: var(--body-font);
}


.socialmedia a{

    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img { 

    display: block;
    width: 100%;
    height: auto;
    
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: #F8A036;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.375);
}

.hero article {
  position: absolute;
  top: 150px;
  right: 80px;
  padding: 16px;
  background-color: var(--accent-2);
  opacity: 0.8; 
  color: var(--primary-color);
  width: 80%;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  text-align: center;
  margin: auto;

}


.hero article img{
    
    float: right;
    width: 125px;
}

footer .socialmedia img {

    margin: 15px;
    width: 24px;
    height: 24px;
    
    
}

footer {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;

}

footer p{

    margin: 15px;
}

/* Here starts the style of contact page */


.company-info h2{

    font-size: xx-large;
    text-align: left;
    
}

.company-info h3{

    margin: 50px;
    font-size: x-large;
    text-align: left;
    color: #F8A036;
    font-style: italic;
    margin-left:-1px ;
    font-size: 40px;
}


.first-quote{

    text-align: justify;
    margin-bottom: 40px;
    
}

.happy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px;
}

.happy img {

    
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.contact-page{

    
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; 
    align-items: start; 
    gap: 150px; 
    margin: auto;
    max-width: 1200px; 

}

.email-box img{

    background-color: rgb(248, 160, 54, 0.6);
    border: 2px rgb(248, 160, 54, 0.6);
    border-radius: 12px; 

    
    width: 50px;
    height: 50px;

}

.phone-box img{


    background-color: rgb(248, 160, 54, 0.6);
    border: 2px  rgb(248, 160, 54, 0.6);
    border-radius: 12px; 

    width: 50px;
    height: 50px;
}

.address-box img{


    background-color: rgb(248, 160, 54, 0.6);
    border: 2px  rgb(248, 160, 54, 0.6);
    border-radius: 12px; 

    width: 50px;
    height: 50px;
}




.email-box{

    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    
    
}

.value1{

    margin: 15px;
    grid-column: 2/6;
    font-weight: bold;
}

.phone-box{

    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
}

.value2{

    margin: 15px;
    grid-column: 2/6;
    font-weight: bold;
}

.address-box{

    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
}

.value3{

    grid-column: 2/6;
    font-weight: bold;
}

.map-box{

    
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
}

.map-box{

    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact-info{

    margin: 15px;
    padding: 20px;
    margin-top: 80px;
    background-color: rgb(248, 160, 54, 0.6);
    border: 2px  black;
    border-radius: 50px;
    height: auto; 
    align-items: center; 
    

    
}

.contact-info label{

    margin: 15px;
    font-size: small;
    font-weight: bold;
}

.name-box{

    margin: 15px;
    width: 90%;
    height: 35px;
    border-radius: 5px;
}

.box-email{

    margin: 15px;
    width: 90%;
    height: 35px;
    border-radius: 5px;
}

.radio-input{
    margin: 15px;
    margin-top: 25px;
}

.purpose input{

    margin: 15px;
}

.form-item column1{

    margin:15px;
}

.checkbox-end{

    margin: 15px;
}


.textarea{

    margin: 15px;
    width: 95%;
    border: 10px;
    border-radius: 10px;
    border-color: black;

}

.send-button{

    margin: 15px;
    background-color: black;
    border: 2px  white;
    color: white;
    border-radius: 12px; 
    width: 150px;
    height: 40px;
    font-weight: bold;
    
}

.send-button:hover{
    
    margin: 15px;
    background-color: rgb(175, 175, 175);
    color: black;
    
}

.contact-h1{

    background-color: transparent;
    margin-top: 160px;
    text-align: left;
    margin-left: -15px;
    color: black;
    font-size: x-large;
}

/* Here starts the style of HOME PAGE */


.hero-index {

    position: relative!important;
    width: 100vw !important;             
    margin-left: calc(50% - 50vw) !important; 
    margin-right: calc(50% - 50vw) !important;
    overflow-x: hidden;       
    left: -10px;
    
    
    
  
}


.hero-index img{

    display: block;           
    width: 100%;              
    height: auto; 

}


.hero-index h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    background-color: transparent;
    font-family: "Rock Salt", cursive;
    color:#F8A036;
    opacity: 1;
    z-index: 2;
}



.hero-p {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    z-index: 2;
}



.book-now {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 10px 20px;
    background-color:#F8A036;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.book-now:hover {
    color: black;
    background-color: white;
}

.subscribe{

    width:550px;
    margin: 25px;
    padding: 20px;
    margin-top: 80px;
    
    background-color: rgb(248, 160, 54, 0.6);
    border: 2px  black;
    border-radius: 50px;
    height: auto; 
    
    
}

.subscribe label{

    margin: 15px;
    font-size: small;
    font-weight: bold;
}

.h3-subscribe{

    margin: 15px;
    font-size: large;
    font-weight: bold;
    font-family: "Rock Salt", cursive;
    text-align: center;
}

.p-subscribe{

    margin: 15px;
    font-size: medium;
    font-family:var(--body-font);
    
}

.subscribe-button{

    margin-left: 150px;
}

.section-index{

    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    

}

.figure-index{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px;
    grid-column: 2/4;
    gap: 50px;
    
}

.figure-index img {

    
    width: 400px;
    height: 200px;
    object-fit:fill;
    margin-top: 150px;
    padding: auto;
    border: 3px solid rgba(248, 161, 54, 0.053);
    border-radius: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    padding: 8px;
    

}

.figure-index figcaption {
    
    background: linear-gradient(to bottom, #F8A036, transparent);
    
}

/* Here starts the TRIPS style*/

.hero-trips{

    padding: 100px 100px;
    background-color: rgba(0, 0, 0, 0.766);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
}


.trips-h1{

    background-color: transparent;
    color: white;
    text-align: left;
    margin: 180px;
    margin-left: 50px;
}

.trips-p{

    background-color: transparent;
    color: white;
    text-align: left;
    margin: 120px;
    margin-top: 120px;
    margin-left: 85px;
    font-family: var(--body-font);
    text-align: center;
}

.plan-trip{

    width: 150px;
    position: absolute;
    left: 320px;
    top: 370px;
    padding: 20px 20px;
    background-color:#F8A036;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    font-size: medium;
    font-family:var(--body-font);
    font-weight: bold;
}

.plan-trip:hover {
    color: black;
    background: white
}

.trip-descriptions{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 35px;
    gap: 50px;
    margin-bottom: 15rem;
}

.trip-descriptions img{

    width: 70%;
    height: 70%;
    object-fit: cover;
    border: 2px solid F8A036;
    padding: 5px 5px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #F8A036, transparent);
}

.trip-descriptions h2{

    font-size: medium;
    font-style:italic;
    margin-top: 5px;
    background: linear-gradient(to bottom, #F8A036, transparent);
    width: 250px;
    margin-left: 115px;
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 40px;
}

.trip-descriptions p{

    font-size: medium;
    text-align: center;
    margin-top: 50px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    
    

}


.trip-table table {
  width: 90%;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin-top: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 70px;
  
}

.trip-table th{
    padding: 14px 18px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background: linear-gradient(to bottom, #F8A036, transparent);
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.trip-table td {
  padding: 14px 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.trip-table tr:hover {
  background: linear-gradient(to bottom, #f4870251, transparent);
  transition: background-color 0.3s ease;
}

.button-trips-contact{

    width: 150px;
    padding: 20px 20px;
    background:  #F8A036;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    font-size: medium;
    font-family:var(--body-font);
    font-weight: bold;
    margin-left: 690px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
}

.button-trips-contact:hover {
    color: black;
    background: linear-gradient(to bottom, #f4870251, transparent);
}






