:root {
    --primary-color: white; /*white*/
    --secondary-color: #F8A036; /*orange peel*/
    --accent-1: #33A097; /*persian green*/
    --accent-2: rgb(53, 53, 49); /*black olive*/
    --heading-font: "Bebas Neue", sans-serif;
    --body-font: "Open sans", sans-serif;

}

header{

    background-color: var(--primary-color);
    color: var(--accent-2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
    
}

*{
    margin: 15px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{

    font-family: var(--body-font);
    color: var(--accent-2);
    overflow-x: hidden;
    max-width: 100%;
    
}

header nav{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    width: 100%;
}

header img{
    display: block;
    margin: auto;
}


header, main, footer {

    max-width: 100%;
    margin: auto;
}

h1, h2 {

    font-family: var(--heading-font);
    color: var(--accent-2);
    text-align: center;
}



section h2 {
    text-align: center;
    max-width: 100%;

}
section p {
    text-align: center;
    max-width: 100%;
}


section img {

    max-width: 100%;
    height: auto;
    display: block;
    padding: 15px;
    margin: auto;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    text-align: center;
    
}

.history h2{
    grid-column: 1/4;
}


.history img {
    width: 500px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventure img {

    width: 400px;
    height: 200px;
    object-fit: cover;

}

.adventure h2 {
    grid-column: 1/6;
}

figcaption {
  background-color: #222;
  color: #fff;
  padding: 2px;
  text-align: center;
}


.socialmedia a{

    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img { 

    display: block;
    width: 100%;
    height: auto;
    
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: #F8A036;
    color: black;
}

.hero article {
  position: absolute;
  top: 150px;
  right: 80px;
  padding: 16px;
  background-color: var(--accent-2);
  opacity: 0.8; 
  color: var(--primary-color);
  width: 80%;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
  text-align: center;
  margin: auto;

}


.hero article img{
    
    float: right;
    width: 125px;
}

footer .socialmedia img {
    
    width: 24px;
    height: 24px;
    
    
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;

}

/* Here starts the style of contact page */


.company-info h2{

    font-size: xx-large;
    text-align: left;
}

.company-info h3{

    font-size: x-large;
    text-align: left;
    color: #F8A036;
    font-style: italic;
}


.first-quote{

    text-align: justify;
    margin-bottom: 40px;
    
}

.happy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.happy img {

    width: 400px;
    height: 200px;
    object-fit: cover;
}

.contact-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; 
    align-items: start; 
    gap: 40px; 
    margin: auto;
    max-width: 1200px; 

}

.email-box img{

    background-color: rgb(248, 160, 54, 0.6);
    border: 2px rgb(248, 160, 54, 0.6);
    border-radius: 12px; 

    
    width: 50px;
    height: 50px;

}

.phone-box img{

    background-color: rgb(248, 160, 54, 0.6);
    border: 2px  rgb(248, 160, 54, 0.6);
    border-radius: 12px; 

    width: 50px;
    height: 50px;
}

.address-box img{

    background-color: rgb(248, 160, 54, 0.6);
    border: 2px  rgb(248, 160, 54, 0.6);
    border-radius: 12px; 

    width: 50px;
    height: 50px;
}




.email-box{

    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    
    
}

.value1{

    grid-column: 2/6;
    font-weight: bold;
}

.phone-box{

    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
}

.value2{

    grid-column: 2/6;
    font-weight: bold;
}

.address-box{

    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
}

.value3{

    grid-column: 2/6;
    font-weight: bold;
}

.map-box{

    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
}

.map-box{

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact-info{

    margin-top: 83px;
    background-color: rgba(203, 202, 203, 0.205);
    border: 2px  black;
    border-radius: 50px;
    height: 45%;
    
    
    
    align-items: center; 
    
    
    
    
    

    
}

.contact-info label{

    font-size: small;
    font-weight: bold;
}

.name-box{

    width: 90%;
    height: 35px;
    border-radius: 5px;
}

.box-email{

    width: 90%;
    height: 35px;
    border-radius: 5px;
}

.radio-input{

    margin-top: 25px;
}

.textarea{

    width: 90%;
    border: 10px;
    border-radius: 10px;
    border-color: black;

}

.send-button{

    background-color: rgb(248, 160, 54, 0.6);
    border: 2px  rgb(248, 160, 54, 0.6);
    border-radius: 12px; 
    width: 150px;
    height: 40px;
    font-weight: bold;
    
}

.send-button:hover{

    background-color: black;
    color: white;
    
}

.contact-h1{

    background-color: transparent;
    margin-top: 200px;
    text-align: left;
    margin-left: -1px;
}




